h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
  }
  .footer {
    position: absolute;
    width:100%;
    background-color: #bbdddc;
  }

  .App-header {
    background-color: #bbdddc;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-evenly;
    color: white;
    padding: 20px;
  }

    


  .filterButtons{
    background-color: #bbdddc;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding: 20px;
    margin: 0 auto;
    width: fit-content;
    padding-top: 5px;
    margin-top: 10px;

  }
