.dashboard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    width: 100%;
    min-height: 70vh;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
  }

  
